header {
    width: 100%;
    background-color: #2C3E50; /* Color uniforme para el header */
    color: #fff;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header-left h1 {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif; /* Fuente moderna y elegante */
  }
  
  .header-right nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
  }
  
  .header-right nav ul li {
    display: inline;
  }
  
  .header-right nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Fuente moderna y elegante */
    transition: color 0.3s ease;
  }
  
  .header-right nav ul li a:hover {
    color: #00c6ff;
  }
  