<header>
  <div class="header-container">
    <div class="header-left">
      <h2>Javier Pintado Navarro</h2>
    </div>
    <div class="header-right">
      <nav>
        <ul>
          <li><a (click)="scrollToSection('inicio')">Inicio</a></li>
          <li><a (click)="scrollToSection('experiencia')">Experiencia</a></li>
          <li><a (click)="scrollToSection('estudios')">Estudios</a></li>
          <li><a (click)="scrollToSection('sobre-mi')">Sobre mí</a></li>
          <li><a href="../../../assets/CV.pdf" target="_blank">Descargar CV</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
