/* Home Container */
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  height: 50vh;
  width: 100%;
  background-image: url('../../../assets/codigo.jpg');
  color: white;
  font-family: 'Poppins', sans-serif;
}

.home-content h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.home-content h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #ffffff;
}

.home-image img {
  max-width: 170px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.home-image img:hover {
  transform: scale(1.05);
}

/* General container styles */
.container {
  width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f0f0f0; /* Manteniendo el fondo gris claro */
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

/* Experiencia */
.experiencia {
  width: 80%;
  margin: 5rem auto; /* Incrementamos el margen superior e inferior */
  padding: 2rem;
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experiencia:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.experiencia h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #004f7c; /* Color coherente para el título */
  text-align: left;
  position: relative;
}

.experiencia h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #00c6ff;
}

.experiencia-item {
  margin-bottom: 2rem;
}

.experiencia-item h4 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #00c6ff;
  transition: color 0.3s ease;
}

.experiencia-item h4:hover {
  color: #004f7c;
}

.experiencia-item p {
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.8;
  color: #333;
}

.experiencia-item strong {
  display: block;
  margin-top: 0.5rem;
  color: #004f7c;
}

/* Estudios */
.estudios {
  width: 80%;
  margin: 5rem auto; /* Incrementamos el margen superior e inferior */
  padding: 2rem;
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.estudios:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.estudios h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #004f7c;
  text-align: left;
  position: relative;
}

.estudios h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #00c6ff;
}

.estudios-item {
  margin-bottom: 2rem;
}

.estudios-item h4 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #00c6ff;
  transition: color 0.3s ease;
}

.estudios-item h4:hover {
  color: #004f7c;
}

.estudios-item p {
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.8;
  color: #333;
}

.estudios-item strong {
  display: block;
  margin-top: 0.5rem;
  color: #004f7c;
}

/* Sobre Mí */
.sobre-mi {
  width: 80%;
  margin: 5rem auto; /* Incrementamos el margen superior e inferior */
  padding: 2rem;
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre-mi:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.sobre-mi h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #004f7c;
  text-align: left;
  position: relative;
}

.sobre-mi h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50px;
  height: 3px;
  background-color: #00c6ff;
}

.sobre-mi p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: justify;
}
