<div id="home" class="home-container">
  <div class="home-content">
    <div class="home-image">
      <img src="assets/FotoPerfil.jpg" alt="Javier Pintado Navarro">
    </div>
    <h1>Hola! Soy Javier Pintado Navarro</h1>
    <h2>Desarrollador Web Junior</h2>
  </div>
</div>

<div id="experiencia" class="experiencia">
  <h3>Mi Experiencia</h3>
  <div class="experiencia-item">
    <h4>Prácticas en Eviden</h4>
    <p>- Participé en un programa intensivo de formación durante 4 semanas, donde las dos primeras semanas se enfocaron
      en aprender Spring, seguido de dos semanas dedicadas a la formación de Angular.</p>
    <p>- Completé un curso intensivo de Git guiado por un desarrollador senior, adquiriendo habilidades clave en el
      manejo de control de versiones, lo que fue fundamental para colaborar en proyectos en equipo.</p>
    <p>- Posteriormente, fui asignado a un proyecto real dentro de la empresa, donde trabajé junto a otros compañeros de
      prácticas en el desarrollo de una aplicación para la reserva de sitios en la oficina. Este proyecto incluyó tanto
      el desarrollo frontend con Angular como la integración con el backend en Spring Boot.</p>
    <p><strong>Marzo 2024 - Junio 2024</strong></p>
  </div>
  <div class="experiencia-item">
    <h4>Prácticas en el hospital San Juan de Dios del Aljarafe</h4>
    <p>- Me encargué del mantenimiento y reparación de equipos informáticos, asegurando su correcto funcionamiento y
      disponibilidad para el personal médico y administrativo del hospital.</p>
    <p>- Resolví incidencias técnicas que iban desde problemas de hardware hasta inconvenientes con software específico
      del hospital, lo que requería una rápida identificación y resolución de problemas.</p>
    <p>- Administré cuentas de usuario a través de Active Directory, gestionando la creación, modificación y eliminación
      de cuentas, así como el restablecimiento de contraseñas y la asignación de permisos según las necesidades del
      personal.</p>
    <p><strong>Marzo 2022 - Junio 2022</strong></p>
  </div>
</div>

<div id="estudios" class="estudios">
  <h3>Mis Estudios</h3>
  <div class="estudios-item">
    <h4>Desarrollador de Aplicaciones Web</h4>
    <p><strong>2022 - 2024</strong></p>
    <p>Realizado en el IES Alixar.</p>
  </div>
  <div class="estudios-item">
    <h4>Técnico en Sistemas Microinformáticos y Redes</h4>
    <p><strong>2020 - 2022</strong></p>
    <p>Realizado en el IES Heliche.</p>
  </div>
</div>


<div id="sobre-mi" class="sobre-mi">
  <h3>Sobre Mí</h3>
  <p>Soy una persona disciplinada con muchas ganas de seguir aprendiendo en el apasionante mundo de la programación.
    Desde muy joven, el deporte ha sido una parte fundamental de mi vida, especialmente durante los siete años que
    dediqué al remo, donde tuve el honor de quedar varias veces subcampeón de Andalucía. Esta experiencia me inculcó una
    gran disciplina y me hizo enamorarme del deporte, algo que sigo cultivando hoy en día entrenando en el gimnasio y
    practicando un enfoque híbrido que combina entrenamiento de fuerza y correr.</p>

  <p>Mi pasión por la programación comenzó durante mis estudios de grado medio en Sistemas Microinformáticos y Redes,
    cuando descubrí JavaScript en el módulo de libre configuración. Desde ese momento, quedé enganchado a este mundillo,
    donde cada nuevo proyecto representa un desafío y una oportunidad para aprender y crecer. Durante mi formación en el
    grado superior de Desarrollo de Aplicaciones Web, he podido profundizar mis conocimientos y habilidades,
    preparándome para enfrentar nuevos retos en este sector.</p>

  <p>Estoy abierto a nuevas oportunidades laborales que me permitan seguir desarrollándome tanto profesional como
    personalmente, aplicando la disciplina y el enfoque que he aprendido tanto en el deporte como en la programación.
  </p>
</div>