footer {
  background-color: #2C3E50;
  padding: 1rem 0;
  text-align: center;
  color: #ccc;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer ul li {
  display: inline;
}

footer ul li a {
  color: #00c6ff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  footer ul {
    flex-direction: column;
    gap: 0.5rem;
  }
}
